<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="<%= item.descriptionPage %>">

    <meta name="keywords" content="<%= item.keywords %>">

    <meta name="author" content="<%= site.env.author %>">

    <link rel="stylesheet" href="<%= site.env.url %>css/main.css">

    <link rel="icon" type="image/x-icon" href="<%= site.env.url %>images/favicon.ico">

    <link rel="stylesheet" href="<%= site.env.url %>libraries/flexmasonry/flexmasonry.css">
    
    <title><%= item.titlePage %></title>

    <script> var script = document.createElement('script'); script.dataset.cache = true; script.dataset.websiteId = 'be54a186-82ae-4e18-98a4-680e99d78bea'; script.src='https://s.abla.io/abla.js'; document.getElementsByTagName('head')[0].appendChild(script);</script>
</head>